body {
    margin:0;
    padding:0;
    font-family:sans-serif;
    background:#fbfbfb;
}
.card-dwarf {
    min-height:400px;
    background:#fff;
    box-shadow:0 20px 50px rgba(0,0,0,.1);
    // border-radius:10px;
    transition:0.5s;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 65%;
    background-color: #e3e0cf;
}
.card-dwarf:hover {
    box-shadow:0 30px 70px rgba(0,0,0,.2);
}
.card-dwarf .box {
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    display: flex;
    height: 350px;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1);
    margin: 12px;
    background-color: whitesmoke;
    border-radius: 4px;
}
.card-dwarf .box .img {
    width:120px;
    height:120px;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
}
.card-dwarf .box .img img {
    width:100%;
    height:100%;
}
.card-dwarf .box h2 {
    font-size:20px;
    color:#262626;
    margin:20px auto;
}
.card-dwarf .box h2 span {
    font-size:14px;
    background:#C5D5CB;
    color: black;
    display:inline-block;
    padding:4px 10px;
    border-radius:15px;
    margin-top: 5px;
}
.card-dwarf .box p {
    color:#262626;
}
.card-dwarf .box span {
    display:inline-flex;
}
.card-dwarf .box ul {
    margin:0;
    padding:0;
}
.card-dwarf .box ul li {
    list-style:none;
    float:left;
}
.card-dwarf .box ul li a {
    display:block;
    color:#aaa;
    margin:0 10px;
    font-size:20px;
    transition:0.5s;
    text-align:center;
}
.card-dwarf .box ul li:hover a {
    color:#e91e63;
    transform:rotateY(360deg);
}

#map-cards-align {
  display: flex;
  background-color: #E3E0CF
}

.btn-danger a {
  color: whitesmoke;
  opacity: 0,6;
}

.btn-danger a:hover {
  color: whitesmoke;
  opacity: 1;
}
