
<div id="carouselExampleIndicators" class="carousel slide my-carousel my-carousel" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active"  id= "azerty">

    </div>
      <div class="carousel-item " id="zerty" >

    </div>
    <div class="carousel-item " id="erty">

    </div>
  </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>



<div class="back">
  <div class= "container-row">
    <div class="row">
      <div class="col-sm-4" id="style">
        <h1>Now that’s DWARFSOME!</h1>
        <h2>Dwarf My Party is an entertainment company that offers Dwarf hire in Belgium</h2>
      </div>
      <div class="col-sm-7">
        <img class="gif" src="https://i.gifer.com/Z4a3.gif" width=800px alt="">
      </div>
    </div>
  <%# </div> %>
</div>
