<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://temavi.com.br/wp-content/uploads/2019/01/wolf-wall-street-dwarf-tossing.jpg);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<br>
<hr>
<br>
<h1>Now that’s DWARFSOME!</h1>
<h2>Dwarf My Party is an entertainment company that offers Dwarf hire in Belgium</h2>
