
<div class="home-page">
  <div class="container-banner">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/769525/pexels-photo-769525.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
        <%# <div class="container"> %>
          <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
          <p>Change your life and learn to code at one of our campuses around the world.</p>
          <a class="btn btn-flat" href="#">Apply now</a>
        <%# </div> %>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <%# <div class= "container"> %>
    <div class="row">
      <div class="col-sm-4">
        <h1>Now that’s DWARFSOME!</h1>
        <h2>Dwarf My Party is an entertainment company that offers Dwarf hire in Belgium</h2>
      </div>
      <div class="col-sm-8">
        <img src="https://i.gifer.com/Z4a3.gif" alt="">
      </div>
    </div>
  <%# </div> %>
</div>
